*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

#BackgroundGrid{
    display: grid;
    grid-template: repeat(2, 1fr) repeat(2, 4.5fr) / 1fr 2.75fr 1.25fr;
    grid-template-areas:
      "Sidebar HeaderTopSide HeaderTopSide"
      "Sidebar HeaderBottomSide HeaderBottomSide"
      "Sidebar CentralDisplay LeftSideTop"
      "Sidebar CentralDisplay LeftSideBottom";
    width:100vw;
    height:100vh;
}

#HeaderTopSide{
    grid-area: HeaderTopSide;
    border:3px solid orange;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 6fr repeat(3,1fr);
}

#HeaderBottomSide{
    grid-area: HeaderBottomSide;
    border:3px solid cyan;
}

#Sidebar{
    grid-area: Sidebar;
    display:grid;
    background-color: #115e59;
    color:aliceblue;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(autofit, 1fr);
    gap:15px;
}

#MainLogoBox{
    margin-bottom:5vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

#MainLogo{
    width: min(5vh, 100%);
    height: min(5vh,100%);
    padding: 1vh;
}

#MenuBox{
    display: flex;
    justify-content: start;
    align-items: center;
}

#MenuBox:hover{
    color:black;
}

#Logo{
    height:4vh;
    width:4vh;
    padding: 1vh;
}

.Communities{
    margin-bottom: 5vh;
}

.Privacy{
    margin-bottom: 40vh;
}

#CentralDisplay{
    grid-area: CentralDisplay;
    border:3px solid yellow;
}

#LeftSideTop{
    grid-area: LeftSideTop;
    border: 3px solid red;
}

#LeftSideBottom{
    grid-area: LeftSideBottom;
    border: 3px solid blue;
}
